include AUTHORS
include LICENSE
include Makefile
include MANIFEST.in
include README.rst
include tox.ini
recursive-include examples *.py *.hy
recursive-include requirements *.txt
recursive-include tests *.py *.hy
recursive-include docs *.py *.rst *.txt Makefile make.bat
prune docs/_build
